/**
 * AREAS
 */
#board {
	width: 980px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	float: left;
	border: 1px solid #000000;
}

#cardlist {
	width: 432px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	float: left;
	border: 1px solid #000000;
	display: none;
}

#solution {
	width: 432px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	float: left;
	border: 1px solid #000000;
}

#top {
	height: 100px,
}

#deck {
	width: 258px;
	height: 120px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #000000;
	float: left;
}

#discard {
	width: 108px;
	height: 108px;
	padding: 10px;
	margin: 5px;
	border: 1px solid #000000;
	float: left;
}

#aces {
	width: 560px;
	float: left;
}

#solitary {
	clear: left;
}

div.col {
	width: 108px;
	height: 108px;
	padding: 10px;
	margin: 5px;
	float: left;
	border: 1px solid #000000;
	text-align: center;
	position: relative;
}

#solitary div.col {
	height: 350px;
}

/**
 * CARDS
 */
div.card {
	width: 86px;
	height: 86px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	float: left;
	background: #FFFFFF;
}

div.card.red {
	border: 1px solid red;
	color: red;
}

div.card.black {
	border: 1px solid black;
	color: black;
}

#deck div.card,
#solution div.card {
	width: 33px;
	height: 20px;
	padding: 2px;
	margin: 2px;
}

#discard div.card,
#aces div.card {
	position: absolute;
}

#solitary div.card {
	height: 20px;
}

/**
 * BUTTONS
 */
div.button {
	clear: left;
	padding: 20px;
	text-align: center;
}

/**
 * SOLUTION
 */
div.step {
	width: 20px;
	height: 22px;
	padding: 2px;
	margin: 2px;
	float: left;
}
